
@model FamilyMedia.DTOs.PostDTO

<h2>Create Post</h2>
<div class="create-post">
    <form action="/Post/CreatePost" method="post">
        @Html.AntiForgeryToken()

        <div>
            <hr />

            <div class="form-group">
                Post Title:
                <div>
                    <input type="text" name="PostTitle" />
                    <span class="text-danger">@Html.ValidationMessage("PostTitle")</span>
                </div>
            </div>

            <div class="form-group">
                Post Privacy:
                <div>
                    <select name="Privacy">
                        <option value="">Select Privacy</option>
                        <option value="Public">Public</option>
                        <option value="Friends">Friends</option>
                        <option value="OnlyMe">Only Me</option>
                    </select>
                    <span class="text-danger">@Html.ValidationMessage("Privacy")</span>
                </div>
            </div>

            <div class="form-group">
                Post Body:
                <div>
                    <textarea name="PostData"></textarea>
                    <span class="text-danger">@Html.ValidationMessage("PostData")</span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    </form>

    <div>
        <a href="/Home/Index">Back to Home</a>
    </div>

</div>
